nav a:hover {
    text-decoration: underline;
   
}

/* #fooldal_carousel img {
    max-height: 300px;
} */

#fooldal_carousel img{    
border-radius: 25px;
}
#fooldal_content {
    background-color: #35beda;
    

}

/* #fooldal_content div {
  
} */
.szovegdoboz {
gap: 70px;

}
#fooldal_carousel {
margin:auto;
margin-top: 50px;
margin-bottom: 50px;
width: relative;
height: relative;
scale: 120%;
display: flex;
}
/* easter egg */



#eastereggImage {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
}

body {
    
    background-color: #000;
}